* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.6;
}

@media (min-width: 38em) {
	html { font-size:18px; }
}

body {
	color: #333;
	background-color: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

a {
	color: #125B97;
	text-decoration: none;
}

a:hover, a:focus { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0.5 rem;
	font-weight: 600;
	line-height: 1.1;
	color: #333;
	letter-spacing: -0.025rem;
}

h1 { font-size: 2rem; }

h2{ font-size: 1.6rem; }

h3{ font-size: 1.3rem; }

h4, h5, h6 { font-size:1rem; }

p { margin:0 0 1rem; }

.container{
	max-width: 46rem;
	padding: 2rem 1.5rem;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 38rem){
	.container{ padding: 5rem 1rem; }
}

.masthead-title { font-weight: 300; }

.masthead-title a { color: #333; }

.masthead-title a:hover, .masthead-title a:focus { text-decoration: none; }

.masthead-title span { color: #ddd; }

.masthead-title--small a { color:#333; }

.masthead-title--small a:hover, .masthead-title--small a:focus { text-decoration: none; }

.masthead .masthead-nav { margin-bottom: 2rem; }

.masthead .masthead-nav a {
	color: #aaa;
	font-weight: 300;
	text-transform: lowercase;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition:all .2s ease;
}

.masthead .masthead-nav a:hover,.masthead .masthead-nav a:focus {
	color: #333;
	text-decoration: none;
}

.page-title { margin-bottom: 2rem; }

.post-title { margin-bottom: 0.25rem; }

.list-post-title { margin-bottom: 0.25rem; }

.list-post-title a { color:#333; }

.list-post-title a:hover,.list-post-title a:focus { text-decoration:none; }

.post-title {
  font-size: 1.3rem;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
  width: 80%;
}

.post-title a {
  text-decoration: none;
  color: black;
}

.post-subtitle {
  font-size: 16px;
  width: 80%;
}

.year {
  font-size: 18px;
  position: relative;
  right: 100px;
  color: rgba(0, 0, 0, 0.5);
  width: 100px;
  margin-bottom: -24px;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(./fonts/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(./fonts/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
